---
import CoffeeCanvas from "../components/CoffeeCanvas.astro";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Pomodoro Pixel Coffee</title>
    </head>
    <body>
        <CoffeeCanvas />
    </body>
</html>
