---
---

<link rel="stylesheet" href="/styles.css">

<div class="container">
    <h1>Pomodoro Pixel Coffee</h1>
    <canvas id="coffeeCanvas" width="200" height="250"></canvas>

    <!-- Timer -->
     <div id="timer" class="timer">00:00</div>
</div>

<script src="/scripts/coffee.js" defer></script>